body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

pre {
    background: #222;
    color: #0f0;
    padding: 15px;
    white-space: pre-wrap;
    border-radius: 5px;
}
